@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --colorPrimario: #A0522D;
    --colorSecundario: #87A96B;
    --colorFondo: #F5E6D3;
    --colorDetalles: #D4A437;
    --colorAcentos: #C47A6D;

    --fuentePrimaria: 'Inter', sans-serif;
    --fuenteSecundaria: 'Playfair Display', georgia;

    --colorBlanco: #ffffff;
    --colorNegro: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuentePrimaria);
}

.header {
    background-color: var(--colorFondo);
    padding: 0 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
}

.navLeft {
    width: 60px;
}

.navRight {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.navLink {
    color: var(--colorNegro);
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

.navLink:hover {
    color: var(--colorDetalles);
}


.contenido {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
    gap: 24px;
}

.barraSuperior {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: underline 1px var(--colorPrimario);
    text-underline-offset: 6px;
    letter-spacing: 0.1em
}

.lineaSeparadora {
    border: none;
    height: 1px;
    background-color: var(--colorPrimario);
    visibility: hidden;
}

.barraBusqueda {
    width: 50%;
    min-width: 250px;
    align-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: rgba(245, 230, 211, 0.25);
    box-shadow: 0 10px 15px #e0e0e0;
    flex-direction: row-reverse;
}
.btn-crear-producto{
    width: 10%;
    min-width: 250px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--colorNegro);
    font-size: 0.9em;
    gap: 10px;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: rgba(245, 230, 211, 0.25);
    box-shadow: 0 10px 15px #e0e0e0;
    
}
.btn-crear-producto:hover{
    background-color: var(--colorPrimario);
    color: var(--colorFondo);
    transition: 200ms;
}
.logoBusqueda {
    width: 15px;
}

.busqueda {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-family: var(--fuentePrimaria);
} 

#contenedorTarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px ;
}

.tarjeta {
    width: 35%;
    min-width: 160px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #e0e0e0;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.tarjeta:hover {
    transform: scale(1.1);
}


.tarjetaImagen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(245, 230, 211, 0.25);
}

.tarjetaImagen img {
    width: 100%;
    height: auto;
}

.tarjetaTitulo {
    padding: 22px;
    color: var(--colorNegro);
    font-family: var(--fuentePrimaria);
    font-size: 0.75em;
    font-weight: 400;
}

.botonCarga {
    width: 150px;
    align-self: center;
    padding: 8px 12px;
    background-color: rgba(245, 230, 211, 0.25);
    box-shadow: 0 10px 15px #e0e0e0;
    border-radius: 12px;
    border: none;
    font-family: var(--fuentePrimaria);
}

.footer {
  width: 100%;
  padding: 30px;
  background-color: #a0522d;
  color: var(--colorFondo);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 768px) {
    .header {
        padding: 0 40px;
    }

    .navRight {
        gap: 40px;
    }
    .contenido {
        margin: 60px 40px 80px 40px;
    }
    .barraBusqueda {
        width: 55%;
    }
    #contenedorTarjetas {
        gap: 24px;
    }
    .tarjeta {
        width: 30%;
        max-width: 250px;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0 90px;
    }

    .menu {
        flex-direction: row;
    }

    .navLeft {
        width: 75px;
    }

    .navRight {
        gap: 40px;
        flex-wrap: nowrap;
    }

    .contenido {
        margin: 90px 90px 90px 90px;
        gap: initial;
    }

    .lineaSeparadora {
        visibility: visible;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .barraSuperior {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .titulo {
        font-size: 3em;
        text-align: left;
        text-decoration: initial;
    }

    .barraBusqueda {
        width: 15%;
        margin-top: initial;
        padding: 10px 20px;
        align-self: initial;
    }

    .tarjeta {
        width: 22%;
        min-width: 250px;
    }

    #contenedorTarjetas {
        justify-content: center;
        gap: 40px;
    }

    .tarjetaImagen {
        padding: 40px;
    }

    .botonCarga {
        margin-top: 40px;
    }
}